* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: none;
  border: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, #5ca4d4, #d5f9f7, #d179f1);
  height: 100vh;
}