.btn-create-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7em 1em;
    border-radius: 50%;
    box-shadow: 0 0 15px 1px #40404080;
    background-color: #e2b2f3;
    color: #fff;
    font-size: 1.5em;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    z-index: 99;
    position: absolute;
    top: -3em;
    left: calc(50% - 1.2em);
}