form {
    background-color: #fbfbfb;
    box-shadow: 1px 1px 15px 1px #404040;
    border-radius: 5px;
    width: 15%;
    margin-top: 15%;
    height: auto;
    padding: 1em;
    position: fixed;
}
  
form h3 {
    text-align: center;
    color: #e2b2f3;
    font-size: 1.3em;
    padding: .5em;
}
  
form textarea {
    width: 100%;
    font-size: 1.1em;
    margin-top: 5%;
    padding: 1em;
}

form div {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
  
form button {
    padding: .7em 1em;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px #40404080;
    font-size: 1.1em;
    cursor: pointer;
}  

form .btn-cancel {
    background-color: transparent;
    color: #e2b2f3;
    box-shadow: none;
}

form .btn-add {
    background-color: #e2b2f3;
    color: #fff;    
}